<!--  -->
<div>
        <button class="btn btn-success" (click)="addBook()">+Add Book</button>
        
        <!-- <button class="btn btn-danger" >-Delete Book</button> -->
</div>

<div *ngIf="books" class=" container">
       
        
        
        
      <ng-container *ngFor="let book of books">
          <div class="card list-div">
              <div class="card-header">
                <img  class="img-thumbnail" (click)="onClick(book)"  src="{{book.imgurl}}">
              </div>
              <div class="card-body">
                <p class="text-info">Book Id : {{book.id}}</p>
                <p class="text-info">Book Name : {{book.name}}</p>
                <p class="text-info">Realeased on : {{book.releasedOn}}</p>
                <ng-container *ngIf="book.author"><p class="text-info">Author Id : {{book.author.id}}</p></ng-container>
              </div> 

              <div class="card-footer">
                  <button class="btn btn-info" (click)="onClick(book)">Edit</button>
                  <button class="btn btn-danger" (click)="onDelete(book)">Delete</button>
              </div>
          </div>
          
          
        </ng-container>
      
       
  
</div>

